body {
    background-image: url('../img/backgrounds/battle1.gif') !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}