#root {
    align-items: center;
    margin: auto;
    height: 100vh !important;
    width: 100vw !important;
}

h1, h5, h6 {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(0, 82, 0);
    margin-left: 11px;
    margin-top: 15px;
    margin-bottom: -5px;
    font-size: medium;
    font-weight: normal;
}

h2 {
    font-family: 'VT323', monospace;
    font-size: 36px;
    font-weight: normal;
    margin-top: 0;
    margin-left: 40%;
    opacity: 85%;
}

h3 {
    font-family: 'VT323', monospace;
    font-size: 36px;
    font-weight: normal;
    color: white;
    margin-top: 0;
    margin-left: 5%;
    opacity: 85%;
}

h4 {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    margin-left: 11px;
    margin-top: 15px;
    margin-bottom: -5px;
    font-size: medium;
    font-weight: normal;
}