#root {
    margin: auto;
    height: 100vh;
    width: 100vw;
}

#home {
    background-image: url('../img/backgrounds/home.png');
    background-size: cover !important;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
}

