#root {
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

#landing {
    background-image: url('../img/backgrounds/landing.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

#logo {
    background-image: url('../img/logo3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 10vh; */
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column; 
    align-content: center;
    justify-content: center;
}

#terminal {
    background-image: url('../img/blankterminal.png');
    background-size: contain;
    background-position: top;
    margin: 0;
    height: 60%;
    width: 80vw;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
}


button {
    display: flex;
    position: static;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    border: none;
    margin-top: 19px;
    background-size: contain;
    margin-left: 11px;
    background-color: rgba(0, 255, 255, 0);
}

