#root {
    align-items: center;
    margin: auto;
    height: 100vh !important;
    width: 100vw !important;
}

#navbar {
    overflow: hidden;
    position: relative;
    color: white;
    bottom: 0;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    background-color: hwb(189 22% 58% / 0.808);
    border: solid 2px gray;
    border-radius: 8px;
    margin-bottom: 2%;
}

.shop {
    background-image: url('../img/icons/Shop.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.home  {
    background-image: url('../img/icons/Map.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.code  {
    background-image: url('../img/icons/Bag.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.profile  {
    background-image: url('../img/icons/Helmet.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}
