#root {
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

#profile {
    background-image: url('../img/backgrounds/shopandcode.jpg');
    background-size: contain !important;
    background-repeat: repeat;
    color: white;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navbar {
    overflow: hidden;
    position: fixed;
    color: white;
    bottom: 0;
    width: 95%;
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    background-color: hwb(189 22% 58% / 0.808);
    border: solid 2px gray;
    border-radius: 8px;
    margin-bottom: 2%;
}

#top {
    position: fixed;
    top: 0;
    left: 5%;
}

.shop {
    background-image: url('../img/icons/Shop.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.home {
    background-image: url('../img/icons/Map.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.code {
    background-image: url('../img/icons/Bag.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}

.profile {
    background-image: url('../img/icons/Helmet.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: solid 2px gray;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}