#root {
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

#signup {
    background-image: url('../img/backgrounds/landing.jpg');
        background-size: contain !important;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

#logo {
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
        background-position: center;
    /* height: 15%; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column; 
    align-content: center;
    justify-content: center;
}

#terminal {
    background-image: url('../img/blankterminal.png');
    background-size: cover;
    background-position: top;
    margin: 0;
    height: 17%;
    width: 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 10px;
}

/* button {
    display: flex;
    position: static;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(0, 109, 0);
    border: none;
    margin-top: 19px;
    background-size: contain;
    margin-left: 11px;
    background-color: rgba(0, 255, 255, 0);
} */

#stylesubmit {
    margin-left: 0px;
    color: white;
}

Form {
    padding-top: 18px;
    padding-left: 10px;
}

#styletitle {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 5px;
}

h1 {
    padding-top: 5px;
}
